:root {
  /* Default theme (dark) */
  --main-background: hsl(222, 26%, 31%);
  --label-text: hsl(221, 14%, 31%);
  --base-text: hsl(0, 0%, 100%);

  --screen-background: hsl(224, 36%, 15%);
  --screen-text: hsl(224, 36%, 15%);

  --toggle-background: hsl(223, 31%, 20%);
  --toggle: hsl(6, 63%, 50%);

  --keypad-background: hsl(223, 31%, 20%);
  --keypad-text: hsl(223, 31%, 20%);

  --control-key-background: hsl(225, 21%, 49%);
  --control-key-shadow: hsl(224, 28%, 35%);
  --control-text: hsl(0, 0%, 100%);

  --equal-key-background: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);
  --equal-text: hsl(0, 0%, 100%);

  --button-key-background: hsl(30, 25%, 89%);
  --button-key-shadow: hsl(28, 16%, 65%);
}

:root[data-theme="light"] {
  /* Theme Two (Light) */
  --main-background: hsl(0, 0%, 90%);
  --label-text: hsl(0, 0%, 100%);
  --base-text: hsl(60, 10%, 19%);

  --screen-background: hsl(0, 0%, 93%);
  --screen-text: hsl(60, 10%, 19%);

  --toggle-background: hsl(0, 5%, 81%);
  --toggle: hsl(25, 98%, 40%);

  --keypad-background: hsl(0, 5%, 81%);
  --keypad-text: hsl(60, 10%, 19%);

  --control-key-background: hsl(185, 42%, 37%);
  --control-key-shadow: hsl(185, 58%, 25%);
  --control-text: hsl(0, 0%, 100%);

  --equal-key-background: hsl(25, 98%, 40%);
  --equal-key-shadow: hsl(25, 99%, 27%);
  --equal-text: hsl(0, 0%, 100%);

  --button-key-background: hsl(45, 7%, 89%);
  --button-key-shadow: hsl(35, 11%, 61%);
}

:root[data-theme="retro"] {
  /* Theme Three (retro) */
  --main-background: hsl(268, 75%, 9%);
  --label-text: hsl(0, 0%, 100%);
  --base-text: hsl(52, 100%, 62%);

  --screen-background: hsl(268, 71%, 12%);
  --screen-text: hsl(0, 0%, 100%);

  --toggle-background: hsl(268, 71%, 12%);
  --toggle: hsl(176, 100%, 44%);

  --keypad-background: hsl(268, 71%, 12%);
  --keypad-text: hsl(52, 100%, 62%);

  --control-key-background: hsl(281, 89%, 26%);
  --control-key-shadow: hsl(285, 91%, 52%);
  --control-text: hsl(0, 0%, 100%);

  --equal-key-background: hsl(176, 100%, 44%);
  --equal-key-shadow: hsl(177, 92%, 70%);
  --equal-text: hsl(198, 20%, 13%);

  --button-key-background: hsl(268, 47%, 21%);
  --button-key-shadow: hsl(290, 70%, 36%);
}

$main-background: var(--main-background);
$label-text: var(--label-text);
$base-text: var(--base-text);

$screen-background: var(--screen-background);
$screen-text: var(--screen-text);

$toggle-background: var(--toggle-background);
$toggle: var(--toggle);

$keypad-background: var(--keypad-background);
$keypad-text: var(--keypad-text);

$control-key-background: var(--control-key-background);
$control-key-shadow: var(--control-key-shadow);
$control-text: var(--control-text);

$equal-key-background: var(--equal-key-background);
$equal-key-shadow: var(--equal-key-shadow);
$equal-text: var(--equal-text);

$button-key-background: var(--button-key-background);
$button-key-shadow: var(--button-key-shadow);
