$mainBackground: hsl(222, 26%, 31%);
$keypadBackground: hsl(223, 31%, 20%);
$screenBackground: hsl(224, 36%, 15%);

$toggleBackground: hsl(223, 31%, 20%);
$toggle: hsl(6, 63%, 50%);

$darkBlueKeyBackground: hsl(225, 21%, 49%);
$darkBlueKeyShadow: hsl(224, 28%, 35%);

$redKeyShadow: hsl(6, 70%, 34%);
$redKeyBackground: hsl(6, 63%, 50%);

$grayishKeyBackground: hsl(30, 25%, 89%);
$grayishKeyShadow: hsl(28, 16%, 65%);

$darkBlue: hsl(221, 14%, 31%);
$white: hsl(0, 0%, 100%);
