@use "../config/breakPoints";
@use "../config/decorations";
@use "../config/colors";

.results {
  display: flex;
  justify-content: flex-end;

  max-width: 365px;
  margin: 15px 0px;
  padding: 20px;

  color: colors.$white-text;
  background-color: colors.$screen-background;

  @include decorations.rounded-corner;
  @include breakPoints.overflow;
  .results--value {
    max-width: 100%;
  }
}
