@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
:root {
  /* Default theme (dark) */
  --main-background: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --toggle-background: hsl(223, 31%, 20%);
  --toggle: hsl(6, 63%, 50%);
  --control-key-background: hsl(225, 21%, 49%);
  --control-key-shadow: hsl(224, 28%, 35%);
  --equal-key-background: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);
  --equal-text: hsl(0, 0%, 100%);
  --button-key-background: hsl(30, 25%, 89%);
  --button-key-shadow: hsl(28, 16%, 65%);
  --dark-text: hsl(221, 14%, 31%);
  --white-text: hsl(0, 0%, 100%);
}

:root[data-theme=light] {
  /* Theme Two (Light) */
  --main-background: hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --toggle-background: hsl(0, 5%, 81%);
  --toggle: hsl(25, 98%, 40%);
  --control-key-background: hsl(185, 42%, 37%);
  --control-key-shadow: hsl(185, 58%, 25%);
  --equal-key-background: hsl(25, 98%, 40%);
  --equal-key-shadow: hsl(25, 99%, 27%);
  --equal-text: hsl(0, 0%, 100%);
  --button-key-background: hsl(45, 7%, 89%);
  --button-key-shadow: hsl(35, 11%, 61%);
  --dark-text: hsl(60, 10%, 19%);
  --white-text: hsl(0, 0%, 100%);
}

:root[data-theme=retro] {
  /* Theme Three (retro) */
  --main-background: hsl(268, 75%, 9%);
  --keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --toggle-background: hsl(268, 71%, 12%);
  --toggle: hsl(176, 100%, 44%);
  --control-key-background: hsl(281, 89%, 26%);
  --control-key-shadow: hsl(285, 91%, 52%);
  --equal-key-background: hsl(176, 100%, 44%);
  --equal-key-shadow: hsl(177, 92%, 70%);
  --equal-text: hsl(52, 100%, 62%);
  --button-key-background: hsl(268, 47%, 21%);
  --button-key-shadow: hsl(290, 70%, 36%);
  --dark-text: hsl(198, 20%, 13%);
  --white-text: hsl(0, 0%, 100%);
}

* {
  margin: 0%;
  padding: 0%;
  overflow-anchor: none;
  font: 32px "League Spartan", sans-serif;
  font-weight: 700;
  color: var(--white-text);
}

ul,
ol,
li,
a {
  list-style: none;
  text-decoration: none;
}

html,
body {
  display: flex;
  height: 100vh;
  place-content: center;
  background-color: var(--main-background);
}

.calc {
  display: flex;
  margin: 60px 0px 10px;
}
.calc .calc--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
.calc .calc--subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 8px;
}
.calc .calc--switcher {
  display: flex;
  flex-direction: column;
}
.calc .calc--switcher .calc--switcher--label {
  display: flex;
  justify-content: space-around;
}
.calc .calc--switcher .calc--switcher--label > * {
  font-size: 10px;
  text-align: right;
}
.calc .calc--switcher .calc--switcher--input {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 3px;
  background-color: var(--toggle-background);
  border-radius: 15px;
}
.calc .calc--switcher .calc--switcher--input > * {
  font-size: 0px;
  margin: 1px;
}
.calc .calc--switcher .calc--switcher--input > *:after {
  content: "";
  visibility: visible;
  display: inline-block;
  position: relative;
  left: -1px;
  top: -1px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: var(--toggle-background);
}
.calc .calc--switcher .calc--switcher--input > *:checked:after {
  content: "";
  visibility: visible;
  display: inline-block;
  position: relative;
  left: -1px;
  top: -1px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  accent-color: var(--toggle);
  background-color: var(--toggle);
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 5fr);
  gap: 15px;
  padding: 20px;
  background-color: var(--keypad-background);
}
.numpad > *:nth-last-child(-n+2) {
  grid-column-end: span 2;
  padding: 10px 0;
}
.numpad > *:hover {
  cursor: pointer;
  filter: brightness(1.15);
}
.numpad > *, .numpad {
  border: none;
  border-radius: 6px;
}
.numpad .numpad--button {
  padding: 10px;
  text-align: center;
  color: var(--dark-text);
  background: var(--button-key-background);
  -webkit-box-shadow: 0px 4px 0px 0px var(--button-key-shadow);
  box-shadow: 0px 4px 0px 0px var(--button-key-shadow);
}
.numpad .numpad--control {
  font-size: 24px;
  line-height: 20%;
  background: var(--control-key-background);
  -webkit-box-shadow: 0px 4px 0px 0px var(--control-key-shadow);
  box-shadow: 0px 4px 0px 0px var(--control-key-shadow);
}
.numpad .numpad--eval {
  background: var(--equal-key-background);
  -webkit-box-shadow: 0px 4px 0px 0px var(--equal-key-shadow);
  box-shadow: 0px 4px 0px 0px var(--equal-key-shadow);
}

.results {
  display: flex;
  justify-content: flex-end;
  max-width: 365px;
  margin: 15px 0px;
  padding: 20px;
  color: var(--white-text);
  background-color: var(--screen-background);
  border-radius: 6px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
}
.results::-webkit-scrollbar {
  display: none;
}
.results .results--value {
  max-width: 100%;
}

/*# sourceMappingURL=main.css.map */
